@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Jost:wght@300&family=Lato:wght@300&family=Red+Hat+Display:wght@300&family=Sarabun:wght@100&family=Satisfy&display=swap");
*{
    margin: 0;
    padding : 0;
    font-family : 'Jost', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Jost', sans-serif;

}
.box{
    height: 65vh;
    width: 30vw;
    background-color: rgb(148, 182, 212);
    border-radius: 8px;
}
.inputData{
    display: flex; 
    justify-content: center;
}
input{
    border-radius: 20px;
    width: 17vw;
    height: 6vh;
    margin: 12px;
    font-size: 20px;
}
input::placeholder {
    font-family: 'Jost', sans-serif; 
    font-size: 23px; 
  }
.info-1{
    display: flex; 
    justify-content: center;
    margin-top: 80px;
}
.info-1 i{
    font-size: 130px;
    color: white;
    font-weight: bold;
}
.loc{
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 5px; 
    font-size: 70px;
}
.info-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

h3{
    font-size: 15px;
    color: rgba(19, 18, 18, 0.74);
    margin-top: 5px;
}

.errormessgae{
    display: flex; 
    justify-content: center;
    margin-top: 80px; 
    font-size: larger;
}

.wave{
    opacity: 0.3;
    position: absolute;
    top: 120%;
    left: 50%;
    background: white;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -20rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
}

.wave-three{
    animation:  drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
}

.wave-two{
    animation:  drift 7000ms infinite linear;
    opacity: 0.1;
    z-index: 3 !important;
}


@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}